$color-white: #fff;
$color-caribbean-green: #00c7ae;
$color-carnation: #fa5963;
$color-mercury: #e1e1e1;
$color-nobel: #b5b5b5;
$color-mine-shaft: #323232;

// ---- 구분선 ----

$color-text: $color-mine-shaft;
$color-danger: $color-carnation;
$color-line: $color-mercury;
$color-primary: $color-caribbean-green;
